*{
    text-align: justify;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --marron: #e65c00;
    --lightMarron: #C2B280;
}
header{
    height: 100vh;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/hero-img.jpg);
    background-size: cover;
    color: white;
}
nav{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 10vh;
    z-index: 2;
}
ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 5%;
    font-weight: bold;
    list-style-type: none;
}
li a:hover{
    color: #C2B280;
}
a{
    color: white;
    text-decoration: none;
}
h1::after{
    display: inline;
    content: "web developer";
    color: #C2B280;
}
.btn-cv{
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    background: var(--lightMarron);
    border: none;
    display: flex;
    justify-content: center;
}
.btn-cv:hover{
    color: #C2B280;
    background-color: white;
    cursor: pointer;
}
.about, .skills, .achievments, footer{
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skills div div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C2B280;
    color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
}
footer{
    margin: 0;
    height: 30vh;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container div{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.mail::after{
    display: inline;
    content: "Email";
}
.tel{
    scale: 0.5;
}
.tel::after{
    display: inline;
    content: "Telephone";
}
footer div a img{
    scale: 0.5;
}
footer div a img:hover{
    scale: 0.8;
    transition: 0.2s ease;
}
.author{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}
.back::after{
    display: inline;
    content: " ^";
    color: #C2B280;
}
@media screen and (width < 800px) {
  .skills div{
    flex-direction: column;
  }
  .skills div div{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  .container{
    flex-direction: column;
  }
  .container div{
    width: 100vw;
  }
  .back{
    display: none;
  }
}
